asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
Django==6.0.5
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.18
mysqlclient==2.2.8
packaging==26.2
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.12.0
